/* style sheet  */
html{
  background-image: url(images/Artistic/103.jpg);
  height: -webkit-fill-available;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
  h1{
        color: #F15F28;
        font-size: 50px;
       position: fixed;

    }
     body{ 

        font-family: fantasy; 
        color: burlywood;
     }
      p{
        font-size: 30px ;
      }
      .artistic{
        border: 3px solid black;
        display: inline-block;
        text-align: -webkit-center;
        padding: 10px 10px 10px 10px;
        margin: 340px 10px 10px 10px;
      }

      .food{
        border: 3px solid black;
        display: inline-block;
        text-align: -webkit-center;
        padding: 10px 10px 10px 10px;
        margin: 340px 10px 10px 150px;
      }
      .weddings{
        border: 3px solid black;
        display: inline-block;
        text-align: -webkit-center;
        padding: 10px 10px 10px 10px;
        margin: 340px 10px 10px 120px;
      }
      div.foo {
        float: left;
     
    }