/* style sheet  */

  h1{
        color: black;
       /* position: fixed;*/

    }
     body{ background: url(images/Artistic/39.jpg);
        color: black;
       
       /* background: gray;
        font-size: 40px ;*/

        
     }  
     